body {
    background-color: black;
}
h1 {
    color: #016801;
}
.friends {
    border: 3em solid rgb(100, 100, 100);
}
.friends > h3 {
    text-transform: uppercase;
    color: rgb(1, 92, 1);
}
p {
    color: #00a800;
}